<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
