@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<div class="form-group">
    This is my table web page
</div>
    @Html.ActionLink("Display Table", "Display", null, new {@class = "btn btn-default"})
